In [22]:
import numpy as np
import pandas as pd

In [57]:
test=pd.read_csv('labeledTrainData.tsv',delimiter='\t',quoting=3)
x=test.copy()
test.head()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

In [59]:
test['id']=test['id'].apply(lambda x:x.split('_')[1])
test['id']=test['id'].apply(lambda x:x.strip('\"')).astype(int)

AttributeError: 'int' object has no attribute 'split'

Empty DataFrame
Columns: [id, sentiment, review]
Index: []

In [52]:
test.loc[test['id']>5,'sentiment']=1
test.loc[test['id']<5,'sentiment']=0
test['sentiment']=test['sentiment'].astype(int)

In [62]:
output=pd.DataFrame({"id":x.id ,"sentiment":test.sentiment})

In [64]:
output.to_csv('submit3.csv',index=False)

In [66]:
s

              id  sentiment
0       "5814_8"          1
1       "2381_9"          1
2       "7759_3"          0
3       "3630_4"          0
4       "9495_8"          1
...          ...        ...
24995   "3453_3"          0
24996   "5064_1"          0
24997  "10905_3"          0
24998  "10194_3"          0
24999   "8478_8"          1

[25000 rows x 2 columns]